@charset "gb2312";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
article,aside,dialog,footer,header,section,nav,figure,menu{display:block;}
body{font:12px/1.5 tahoma,arial,\5b8b\4f53;background-color:#fff;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-family:"宋体";}
ul,ol{list-style:none;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
address,em{font-style: normal;}
.clear{clear:both; height:0; font-size:0;line-height:0; overflow:hidden;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0;}
.clearfix{display:block;}

/*background-postion*/
.top_link,.header-secrch-form,.soft-list,.tit,.hot-brand em,.hot-brand .btn,.hot-icon,.hot-l-bg,.tit-news-phone,.newsinfo-list,.hotnews-info a,.info_l-hot,.Android-tit,.top_list li em,.top_list li .icon,.top_list li .icon_down,.Adsoft_down li span a,.WB-symbian,.down_icon li .down_2,.phone-sale span a,.side_r .title,.title,.buy,.showinfo .icon_pc,.playphone-list,.scrollUl,.scrollUl li{
	background:url(../images/icon.png) no-repeat;
}
.top,.wrapper,.nav .focus_list,.tit-play_phone{background:url(../images/icon.png) repeat-x;}
.top_list li .img{ background:url(../images/icon_1.jpg) no-repeat;}
.list_nav,.phone-sale .phoneInfo{background:url(../images/list_icon.png) no-repeat;}
.list_mininav .top_link,.taxis_search,.samsungApp h2{background:url(../images/list-icon.png) no-repeat;}
.info_qusetion li{background:url(../images/icon-android.png) no-repeat;}

/*首页*/
/*header section*/
/*.header{ width:1000px; margin:0 auto;}
.top{ height:30px; line-height:30px; border-bottom:1px solid #ddd;}
.mininav{ width:1000px; margin:0 auto;}
.login{ float:left;}
.top_link{ float:right; height:30px; background-position:-735px -1147px; margin-bottom:1px;}
.top_link,.top_link a{padding:0 10px; color:#666;}  
.login a{ color:#F47D07;}
.logobox{ height:60px; padding-top:10px;width:1000px;margin-bottom:5px;}
.logobox .header-logo{ width:240px; float:left; overflow:hidden; z-index:11;}
*/

/*头部*/
.an_top{width:1000px; height:75px; margin:0 auto;}
.an_logo{ float:left;padding-top:10px;}
.an_right{float:right; line-height:25px; padding-top:15px; color:#666;text-align:right;}
.an_right p{width:500px; display:block; text-align:right;}
.an_login span{ color:#f37c06;}
.an_login a{color:#f37c06; margin:0 5px;}
.an_wap a{color:#666; margin:0 2px;}

.an_nav{height:46px;background:url(../images/an_nav.gif) bottom center repeat-x;}
.an_subnav{ width:1000px; margin:0 auto; font-size:14px;background:url(../images/an_nav.gif) bottom center repeat-x;height:46px;}
.an_subnav a{display:block; float:left; color:#fff; padding:0px 9px 0px 9px; }
.an_line{background:url(../images/nav_line.gif) right center no-repeat;}
.an_subnav1{width:640px; height:45px; float:left; overflow:hidden; padding-top:1px;}
.an_subnav1 a{line-height:46px; padding:0px 12px 0px 12px;}
.an_subnav li{ float:left;}
.an_first{background:url(../images/an_first.jpg) center no-repeat;}
.an_subnav1 a:hover{background:url(../images/an_first.jpg) center no-repeat; }
.an_subnav2{width:330px; height:46px; float:right; font-weight:bold; background:url(../images/an_subnav.jpg) top center no-repeat; line-height:46px;}



.header-search{ width:380px; float:right; margin-top:25px; position:relative; z-index:9999;}
.header-secrch-form{ width:380px; height:32px; background-position:-6px -447px; line-height:32px;}
.header-search-input{ width:225px; border:0; height:28px; line-height:30px; margin:2px -3px 0 28px;  background:none;}
.header-search-btn{ width:62px; height:30px; background:none; border:0; cursor:pointer; color:#fff; font-weight:bold; font-size:14px;}
.list{ width:46px; cursor:pointer; float:left; padding-left:12px;}
.pull-down-list{ width:56px; position:absolute; left:0; top:30px; background:#fff;  border:1px solid #ddd; z-index:999;}
.pull-down-list a{ display:block; color:#333; padding-left:12px; line-height:24px;}
.pull-down-list a:hover{ background:#f3f3f3; text-decoration:none;}
.hot-keywords{ height:26px; line-height:26px; overflow:hidden; padding-left:3px;}
.hot-keywords,.hot-keywords a{ color:#888;}

.wrapper{ background-position:0 -56px;}
.wrapper1{ width:1000px; margin:0 auto; margin-bottom:10px;}
.nav{ height:40px; line-height:38px; position:relative; padding-top:1px;}
.nav li{ float:left; padding:0 13px; display:block; background:url(../images/nav_line.gif) no-repeat right center;}
.nav .nav_line{ background:none;}
.nav li a{ color:#fff; font-size:14px;}
.nav .focus_list{ position:absolute; width:323px; height:46px; top:-7px; background-position:-2px -210px; right:0px; line-height:46px; z-index:1;}
.nav .focus_list li{ padding:0 10px;}
.nav .focus_list li a{ font-weight:bold;}

.phone-filter{ height:95px; border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; padding:5px 20px;}
.phone-price{ height:50px; border-bottom:1px dotted #ddd; padding-bottom:5px;}
.phone-price p{ line-height:22px; padding-bottom:3px;}
.phone-price p strong{ color:#115584;}
.phone-price-w1 p a,.phone-price-w2 p a{ padding-left:15px; color:#666; white-space:nowrap;}
.phone-price-left{ width:600px; float:left;}
.phone-price-right{ width:340px; float:left;}

.phone-logo{width: 100%; height: 40px;}
.phone-logo a {display: block; float: left;height: 30px;margin-right: 5px;padding-top: 10px;}
.phone-price-right{ width:340px; float:left;}
.crumb a{ color:#4C4C4C; }
/*Main section*/
.column_l{width:310px; float:left; overflow:hidden;}

/*页面焦点图*/
.focusbanner{ width:670px; float:right; height:285px; background:#ddd; overflow:hidden; padding:5px;}
#banner #ifocus { position: relative; width: 670px; height:285px;}
#banner #ifocus_pic {position: relative; width: 670px; display: inline; float: left; height:285px; overflow: hidden}
#banner #ifocus_piclist {z-index:1; position: absolute}
#banner #ifocus_piclist li {width: 670px; height:285px; overflow: hidden;}
#banner #ifocus_piclist img{width: 670px; height:285px;
}
#banner #ifocus_btn{z-index: 3; position: absolute; padding-left:3px; width: 670px; bottom: 2px; height: auto; left: 0px; _bottom: 2px; padding-left:15px;}
unknown{bottom: 5px;}
#banner #ifocus_btn li{filter: alpha(opacity=50); padding-bottom: 0px; margin:10px 0 3px 0; padding:0 8px; width: auto;  display: block; float: left; height: auto; cursor: pointer;  opacity: 0.5; -moz-opacity: 0.5}
#banner #ifocus_btn img {border: #ffffff 1px solid; width: 108px; height:53px; display:block;}
#banner #ifocus_btn .current { text-align:left; filter: alpha(opacity=100); margin-top:0; display: block;  float: left; opacity:1; -moz-opacity:1;}
#banner #ifocus_btn .current img{border: #fff 2px solid;  width: 112px; height: 57px;}
#banner #ifocus_opdiv{z-index: 2; position:absolute; filter: alpha(opacity=50); width: 670px; bottom: 0; background: #000; height: 65px; left: 0px; opacity: 0.5; -moz-opacity: 0.5; _height:65px;}
#banner #ifocus_tx{z-index:3; position:absolute; bottom:8px; color: #fff; left: 8px
}
#banner #ifocus_tx .normal {display: none}


.soft-us{ height:138px; background:#eee; border:1px solid #ddd; padding:5px; margin-bottom:10px;}
.soft-list{ height:135px; background-position:-458px -351px; overflow:hidden;}
.soft-list-box{ width:350px; overflow:hidden;}
.soft-list li{ width:95px; height:64px; display:block; float:left; margin:0 10px 5px 0; overflow:hidden;}
.column_banner{ font-size:0px;}


.hot-phone{ width:485px; float:left;}
.hot-phone-font{ height:300px; border:1px solid #ddd; border-top:none;  padding:7px 10px;}
.tit{ height:32px; line-height:32px; background-position:-5px -263px; padding-left:15px;}
.tit-hot-sell{ background-position:-5px -306px;}
.tit h2{ color:#d74700; font-size:14px;}
.tit .dt{ color:#d74700;}
.tit span{ float:right; padding-right:10px;}
.tit span a{ color:#115584;}
.hot-brand{ width:235px; float:left; border-right:1px dotted #c5d1df;}
.hot-brand .n1{ background-position:-735px -638px;}
.hot-brand .n2{ background-position:-735px -663px;}
.hot-brand .n3{ background-position:-735px -688px;}
.hot-brand .n4{ background-position:-735px -710px;}
.hot-brand .n5{ background-position:-735px -735px;}
.hot-brand .n6{ background-position:-735px -760px;}
.hot-brand .n7{ background-position:-735px -783px;}
.hot-brand .n8{ background-position:-735px -808px;}
.hot-brand .one{ height:100px;}
.hot-brand li{ height:22px; line-height:22px; padding:2px 0;}
.hot-brand li .price{ padding-left:60px; color:#f00; width:40px; overflow:hidden; height:22px;}
.hot-brand li em{ width:13px; height:20px; display:block; font-size:0; float:left; line-height:20px; margin-right:5px;}
.hot-brand li .brand{color:#115584;}
.hot-brand li .phone-show{ padding:12px 0; display:block; height:64px;}
.hot-brand li .img_phone{ display:inline; float:left; margin-right:15px;}
.hot-brand li .hot-brand-btn{ width:38px; height:25px; display:block; float:left; background-position:-321px -408px;}

.hot-about{ width:215px; float:left; padding-left:10px;}
.hot-about h3,.hot-sell h3,.hot-sale h3{ padding:5px 3px; color:#d74700;}
.hot-about h3{ font-size:14px;}
.hot-about h4 a{ color:#4c4c4c; font-size:14px; line-height:22px;}
.main-header{ padding:10px 0;}
.main-header p{ text-indent:2em; color:#666; line-height:22px;}
.main-header p .xx{ color:#004071;}
.brand-article li{ height:22px; line-height:22px;}
.brand-article li a{color:#666; padding-right:10px;}

.hot-top{ width:483px; float:right; padding:22px 10px 0 10px; border:1px solid #bed7fa; position:relative; height:323px;}
.hot-article{ text-align:center; padding-bottom:8px;}
.hot-article span a{ color:#686868;}
.hot-l{ width:236px; float:left; position:relative; z-index:999;}
.hot-l-bg{ width:508px; height:35px; position:absolute; top:-5px; right:0; background-position:-4px -647px; z-index:999;}
.hot-l h4{ line-height:26px; }
.hot-l h4 a{font-size:14px; color:#d74700;}
.hot-icon{margin:0 15px; display:block; padding:3px 0; border-top:1px dotted #a2a2a2; background-position:-8px -722px;}
.hot-icon span{ float:right; color:#999;}
.hot-icon li{ line-height:24px; height:24px; padding-top:1px;}
.hot-icon li a{ color:#115584; padding-left:15px;}
.hot-r{ margin-right:10px; }

/*商城热销手机*/
.maincenter-l{ width:750px; float:left; overflow:hidden;}
.hot-sell-border{ height:265px; border:1px solid #ddd; border-top:none; padding:10px 0; _padding-bottom:0;}
.hot-sell{ width:240px; float:left;  border-right:1px dotted #bbb; overflow:hidden;}
.brand-list{ padding:0 10px 10px 10px;}
.brand-list div{ height:24px; line-height:22px; border-bottom:1px dotted #bbb; color:#5c5c5c; padding:2px 0;}
.brand-list .sell-list-li{ border:none;}
.brand-list .hot-sell-li{ border-bottom:none;}
.samsung{ border:none;}
.brand-list div a{ color:#5c5c5c;}
.brand-list div .b_font{ color:#115584;}
.brand-list div span{ color:#115584; padding-right:20px;}
.hot-sale{ float:left; width:500px; padding-left:7px; overflow:hidden;}
.hot-sale-show .phone-1{ float:left; display:block;}

/*商城特价手机*/
.showinfo{ float:left; width:325px; padding-left:20px; position:relative;}
.showinfo .icon_pc{ width:120px; height:23px; position:absolute; display:block; top:25px; background-position:-337px -223px;}
.showinfo .icon_pc a{ display: block; float: left; height: 20px; margin-right: 6px; width: 34px;}
.showinfo .buy{ width:42px; height:25px; position:absolute; display:block; background-position:-321px -408px; right:150px; top:136px;}
.showinfo h5{padding-bottom:25px;}
.showinfo h5,.news-phone h4{ font-size:18px; font-family:"微软雅黑"; color:#da5311; line-height:24px; }
.showinfo .price{ font-size:24px; color:#dc0100; padding:0 10px;}
.showinfo .market_price{}
.showinfo p{ line-height:22px; color:#000;}
.showinfo p .market_price{ font-size:12px; text-decoration:line-through; color:#a9aaae;}
.showinfo .ct,.showinfo .ct{ padding-top:8px;}
.showinfo .ct,.showinfo .ct a{ color:#115584;}

.main-banner_1{ margin:10px 0;}

/*新品预告*/
.l-wrapper{ margin-bottom:10px;}
.news-phone{ width:430px;float:left;}
.tit-news-phone{ background-position:-5px -354px;}
.news-phone-font{ height:229px; border:1px solid #ddd; border-top:none; padding:10px;}
.news-phone-article{ height:150px; margin-bottom:10px;}
.newsinfo{ float:left; width:290px; padding-left:10px;}
.newsinfo p{ line-height:22px; height:22px;}
.newsinfo p a{ color:#115584;}
.newsinfo span{ padding:2px 0; display:block;}
.newsinfo span p{ line-height:16px; color:#5c5c5c;}
.newsinfo span p em{ color:#d74700;}
.news-phone-article .phone-2{ float:left;}
.newsinfo-list{background-position:-7px -728px;}
.newsinfo-list li{ height:22px; line-height:22px; padding-left:15px;}
.newsinfo-list li a{color:#004071; font-size:14px;}
.newsinfo-list li{color:#4a4a4a;}
.newsinfo-list li span{ float:right;}


/*厂家动态*/
.factory-trend{ width:310px; float:right;}
.tit-factory-trend{ background-position:-5px -401px;}
.factoryinfo{ border:1px solid #ddd; border-top:none; padding:10px 0; height:229px;}
.factoryinfo ul{ margin:0 10px;}
.factoryinfo li{ height:22px; line-height:22px;  color:#777; padding:1px 0;}
.factoryinfo li a{ color:#777;}
.factoryinfo ul{ overflow:hidden;}
.factoryinfo .other{ padding-bottom:18px; border-bottom:1px dotted #ddd;}
.factoryinfo .anthor{ padding-top:18px;}
.factoryinfo .first a{ color:#4a4a4a; font-size:14px;}
.factoryinfo .first span a{ font-size:12px;}
.factoryinfo li span{ padding-right:10px; font-size:12px;}

/*热门新品*/
.hotnews{ height:338px;border:1px solid #ddd;}
.tit-hotnews{ height:40px; line-height:40px; background-position:-680px -215px; border-bottom:1px solid #ddd; padding-left:60px;}
.tit-hotnews h2{ color:#d74700;}
.hotnews-list{ padding:10px 0 10px 5px; background:url(../images/hotlist-bg.jpg) no-repeat 0 220px; _height:284px; overflow:hidden;}
.hotnews-list li{ width:140px; display:block; float:left;}
.hotnews-list .list-2{ width:160px;}
.hotnews-list .list-2 span{ padding-left:35px;}
.hotnews-list li .img-p{ display:block; text-align:center; margin-bottom:30px;}
.hotnews-list li span{ padding-left:20px; display:block; }
.hotnews-list li p{ line-height:18px; color:#666;}
.hotnews-list li p strong{color:#0269ab;}
.hotnews-list a{}
.hotnews-list .img_f{ margin:0;}
.hotnews-info a{display:block; float:left; padding:10px 0 5px 28px; background-position:-64px -733px; overflow:hidden;}

/*教你玩手机*/
.playphone{ border:1px solid #c8deed; padding:1px; margin-bottom:10px;}
.tit-playphone{ background-position:0 -832px;}
.playphone-info{ height:190px;}
.playphone-info_l{ width:365px; float:left; margin-top:10px;}
.playphone-r{ padding-left:10px; background:none;}
.info_l-hot{ padding:0 10px 10px 10px; height:80px; background-position:-335px -710px;}
.info_l-hot .img_playphone{ float:left;}
.img_playphone_info{ width:255px; float:left; padding-left:10px;}
.img_playphone_info a{ color:#004071;}
.img_playphone_info h4{ color:#004071; padding-bottom:5px;}
.img_playphone_info p{ text-indent:2em;}
.playphone-list{padding:15px 10px 0 10px; background-position:5px -974px;}
.playphone-list li{ height:22px; line-height:22px; padding:1px 0;}
.playphone-list li a{ color:#004071; font-size:14px; padding-left:15px;}
.playphone-list span{ float:right; color:#727272;}

/*滑动门*/
.scrolldoorFrame{width:230px; height:355px;}
.scrollUl{width:215px; overflow:hidden; height:36px; background-position:-22px -1156px; padding:14px 0 0 13px;}
.scrollUl li{float:left; text-align:center; margin-right:20px; color:#fff; line-height:23px;}
.bor03{border-top-width:0px;}
.scrolldoorFrame .sd01,.scrolldoorFrame .yd01,.scrolldoorFrame .zd01{ background-position:-307px -1175px;}
.scrolldoorFrame .sd02,.scrolldoorFrame .yd02,.scrolldoorFrame .zd02{ background:none; color:#333; font-weight:bold;}
.sd01,.yd01,.zd01{cursor:pointer; margin:5px; font-weight:bold; width:56px; height:23px;}
.sd02,.yd02,.zd02{cursor:pointer; margin:5px;  width:56px; height:23px;}


/*Andorid 专区*/
.Android-tit{ height:80px; background-position:-7px -556px;}
.Symbian-tit{ height:35px; background-position:-7px -503px;}
.WB-symbian{background-position:-517px -260px;}
.Android-info{ height:345px; border:1px solid #ddd; border-top:none;}
.down{ height:45px;}
.down h2{ width:65px; display:block; text-align:center; color:#fff; float:left; margin-right:25px; line-height:45px;}
.down-search{ width:340px; height:20px; float:left; margin-top:13px; background:url(../images/down-search.jpg) no-repeat 70px 0;}
.down-search select{ width:62px; height:20px; float:left; margin-right:5px;}
.down-search input{ border:none;}
.down-search .keywords_search{ width:195px; border:0; height:20px; line-height:20px; float:left; background:none; padding-left:15px;}
.down-search .button{ width:38px; height:20px; line-height:20px;  float:left; background:none; color:#fff;}
.keywords{ float:left; height:20px; line-height:20px;}
.down span{ float:right; color:#fff; line-height:45px;}
.down-list{ height:35px; line-height:35px;}
.down-list span{ float:right;}
.down-list span,.down-list span a{color:#fff;}
.Android-soft{ width:228px; float:left; border-right:1px solid #c5d1df; height:345px; overflow:hidden;}
.tab{ height:55px; line-height:55px;}
.Adsoft-info{ width:515px; float:left;}
.Ad-soft{ width:220px; float:left; padding:25px 8px 0 8px;}
.Ad-soft h3{ color:#115584; font-size:14px; font-family:"宋体"; height:24px; line-height:24px;}
.softinfo{ padding:10px 0 10px 15px;}
.softinfo h4{line-height:22px; height:22px; padding-bottom:5px;}
.softinfo h4 a{ color:#d74700; font-size:14px; font-family:"宋体";}
.softinfo li{line-height:22px; color:#606060;}
.softinfo li a{ color:#5c5c5c;}
.Ad-game{ width:260px; float:left;}
.Ad-game .Ad-app ul{ padding:0 5px;}
.Ad-app ul{ height:165px; padding:0 15px;}
.Ad-app li{ width:50px; height:70px; padding:5px 5px 3px 5px; float:left;overflow: hidden;}
.Ad-app li a{ color:#7e7e7e;}
.Ad-app li a.text{height:22px;line-height:22px;width:48px;overflow:hidden;display:block;}
.top_list li{ padding:1px 10px; line-height:22px; position:relative; height:22px;}
.top_list .pic{ padding-bottom:15px;}
.top_list li em{ float:left; width:13px; height:13px; display:block; margin:6px 10px 0 0;}
.top_list li .n1{ background-position:-735px -644px;}
.top_list li .n2{ background-position:-735px -668px;}
.top_list li .n3{ background-position:-735px -693px;}
.top_list li .n4{ background-position:-735px -716px;}
.top_list li .n5{ background-position:-735px -740px;}
.top_list li .n6{ background-position:-735px -764px;}
.top_list li .n7{ background-position:-735px -787px;}
.top_list li .n8{ background-position:-735px -813px;}
.top_list li .img{ width:60px; height:60px; float:left; display:block; background-position:-12px -12px; margin-right:15px;}
.top_list .pic{height:65px; overflow:hidden; padding-top:10px;}
.top_list .pic p{ line-height:18px;}
.top_list li p{height:18px; overflow:hidden; width:100px;}
.top_list li p a{color:#333;}
.top_list li .icon{ width:37px; height:20px; display:block; position:absolute; top:52px; right:62px; background-position:-369px -413px;}
.top_list li .icon_down{ right:40px; top:6px; background-position:-369px -413px;}

/*塞班专区*/
.Symbian_l{ width:230px; float:left; }
.Symbian_banner{ font-size:0;}
.border{margin-bottom:10px; border:1px solid #ddd; border-top:none;}
.Symbian_r{ width:510px; float:right;}
.theme{height:696px; border:1px solid #ddd; border-top:none;}
.phone_theme{background-position:-7px -940px;}
.theme_info{ padding:10px 20px 0 20px;}
.theme_info ul{ width:220px; float:left; }
.theme_info li{ line-height:22px; overflow:hidden;}
.theme_info .hot{ line-height:30px; padding:5px 0;}
.theme_info .hot a{ font-size:18px; color:#d74700;}
.theme_info li a{ padding:0 5px; color:#115584;}
.theme_down{ padding:20px 0 0 8px;}
.theme_down ul{ overflow:hidden;}
.theme_down li{ width:113px; height:228px; border:1px solid #e2e2e2; float:left; margin:0 10px 15px 0;  padding-top:10px; overflow:hidden; display:inline;}
.theme_down li img{ padding-left:5px;}
.theme_down li p{ line-height:16px; text-align:center; color:#817b7b;}
.down_icon li .down_2{width:37px; height:20px; display:block; background-position:-369px -413px; margin:5px 0 0 35px;}

/*侧栏*/
.sidebar{ width:238px; float:right; border:1px solid #ddd; overflow:hidden;}
.side_r{width:290px;float:left;margin-bottom:10px!important;overflow:hidden;}
.title{ height:60px; margin-bottom:10px; background-position:-385px -991px;}
.windows{ background-position:-2px -1075px;}
.r_banner{ font-size:0;}
.Symbian{ background-position:-252px -1075px;}
.no_intelligent{background-position:-498px -1075px;}
.side_list{ margin:0; border:none;}
.side_r .title{ border:none;}
.side_r h2{ height:30px; line-height:32px; border-bottom:1px solid #ddd; border-top:1px solid #ddd; padding-left:15px; color:#115584; font-size:14px;}
.sideinfo{ height:62px; padding-bottom:5px;}
.sideinfo p{ color:#666;}
.sideinfo .img_r{ float:left; display:inline; margin-right:10px;}
.sideinfo h4 a{ color:#07519a; font-size:14px;}
.hotsales_phone{ background:#f3f8fc; padding:15px 0; height:220px;}
.r{ padding:0; margin:0;}
.phone_l{ float:left; width:118px; text-align:center; position:relative; height:218px;}
.phone_l img{ display:inline;}
.phone_l p{ line-height:18px;height: 18px;overflow: hidden;}
.phone_l p a{color:#1d1d1e;}
.phone_l p strong{ color:#d81d28;}
.phone_l .buy{ width:42px; height:25px; display:block;  background-position:-321px -408px; position:absolute; top:188px; left:40px;}
.Adsoft_down{ background:#fbfbfb; padding:10px 0; height:322px; overflow:hidden; _height:314px;}
.Adsoft_down li{height:65px; _height:60px; display:block;
padding:10px 0 5px 20px;  _padding-top:5px;}
.Adsoft_down li a{text-decoration:none;}
.Adsoft_down li .soft_1{ float:left;}
.Adsoft_down li span{ float:left; padding-left:10px; background-position:-60px -879px; display:block;}
.down_icon li .down_1{ margin-left:90px; width:37px; height:20px; display:block; background-position:-369px -413px;}
.Adsoft_down li span p{ height: 36px;line-height: 18px;overflow: hidden; width:120px;}
.r_banner{}

/*友情链接*/
.links_box{border:1px solid #ddd;}
.links_tit{ height:26px; line-height:26px; background:#eef0f2;}
.links_tit h2{ color:#333; padding-left:15px; font-size:14px;}
.links_tit a{ float:right; display:inline; margin-right:10px; color:#1f376d;}
.links_list{ padding:25px 10px;}
.links_list ul{ width:140px;  border-right:1px dotted #e3e3e3; float:left; padding-left:20px;}
.links_list .end{ border:none;}
.links_list li{ height:22px; line-height:22px; overflow:hidden;}
.links_list li a{color:#666;}

/*底部*/
.footer{ text-align:center; padding:10px 0 0 0; border-top:1px solid #f37c06;}
.footer address{ font-style:normal; line-height:24px;}
.footer address a{ padding:0 10px;}
.links_img{ padding:10px 0;}
.wrapper1 .footer p a {color: #4C4C4C;}

/*列表页*/
.phone-sale::after,.theme_info::after,.listinfo::after{content: ""; display: table; clear: both;}
.list_mininav{ float:right; margin-top:15px; color:#666;  width:550px;}
.list_mininav .login{ float:none; margin-left:290px;}
.list_mininav .top_link{ float:none; height:30px; line-height:30px; background-position:84px -93px; padding-left:90px;}
.list_nav{ height:35px; line-height:35px; margin-bottom:5px; background-position:-80px -9px;}
.list_nav .focus_list{ padding:0 10px; width:315px; height:35px; float:left;}
.list_nav .focus_list li a{ font-size:14px; color:#fff; font-weight:bold;}
.list_nav .channel_list{ height:35px; padding:0 20px; display:inline;}
.list_nav .channel_list li{padding:0 12px;}
.list_nav li{ float:left; padding:0 8px; display:inline;}
.list_nav li a{ color:#fff;}
.side_r li{ line-height:22px; _height:20px;}
.side_r li a{ color:#656565; padding-left:10px;}


.main{ width:1000px; margin:0 auto;}
.main_l{ width:700px; float:left;}
.crumb{line-height:30px; border-bottom:2px solid #ddd; padding-left:5px; color:#ff6f00;}
.crumb span,.crumb em{color:#000;}
.crumb em{padding:0 3px;}
.crumb a{ color:#000;}
.taxis{ height:40px; border-bottom:1px solid #ddd; padding:0 20px 0 10px;}
.taxis span{ float:left; line-height:40px;}
.taxis_search{ float:right; background-position:0 6px;padding-top: 12px;}
.taxis_search_article{float:right; background-position:0 0px; padding-top:5px;}
.search-a{ margin-top:10px;}
.taxis_search .s{ width:170px; height:16px; line-height:16px; float:left;}
.taxis_search .submit{ width:65px; height:21px;  border:none; background:none; float:left;line-height:21px;}
.listinfo{float:left;width:690px;padding:5px;}
.listinfo .listinfo-r{ float:left;width:521px;padding-left:5px;border-bottom:1px dotted #ddd;margin-left:5px;text-align:left;}
.list_one{ border:none;}
.listinfo .pic{ float:left;width:155px;height:115px;border:1px solid #cdcdcd;padding:1px;margin-top:8px;}
.listinfo .span-pic{ float:left;width:155px;height:115px;border:1px solid #cdcdcd;padding:1px;margin-top:8px;}
.listinfo em a{ font-size:14px; font-weight:bold; color:#035ba5;}
.listinfo span{ padding:5px 0 10px 0; display:block; color:#b9bbbf;}
.listinfo ul{float:left;width:526px;padding:0px;line-height:22px; color:#7f7f7f;text-align:left;}
.listinfo li a{ color:#035ba5;}

.listinfo_subject{float:left;width:690px;padding:5px;}
.listinfo_subject .listinfo_r_subject{float:left;width:340px;border-bottom:1px dotted #ddd; padding:8px 3px 3px 3px;margin-left:5px;} 
.listinfo_subject .pic{float:left;width:320px;height:150;border:1px solid #cdcdcd;padding:1px;margin-top:8px;}
.listinfo_subject .pic img{width:320px;height:150px;}
.listinfo_subject em a{ font-size:14px; font-weight:bold; color:#035ba5;}
.listinfo_subject ul{float:left;width:340px;padding:0px;line-height:22px; color:#7f7f7f;text-align:left;}
.listinfo_subject ul li{float:left;width:340px;}
.listinfo_subject ul li.time{float:left;width:335px;text-align:right;padding-right:5px;}
.listinfo_subject li a{ color:#035ba5;}

.pageNav{ height:22px; margin-top:15px;margin-bottom:15px; text-align:center; width:690px;float:Left;padding:5px;}
.l_arcicle .pageNav{margin-top:15px;margin-bottom:15px;width:600px;}
.l_arcicle .a_page{width:600px;margin:0 auto;text-align:center;}
.pageNav a{ color:#1f376d;}
.pageNav a,.pageNav span{ height:18px; line-height:16px;border:1px solid #d7e7f0;}
.pageNav a,.pageNav strong,.pageNav span{padding:2px 5px 2px 5px; margin-right:5px;}
.pageNav strong{ height:18px; line-height:18px;}
.pageNav span{ color:#7E7E7E;}
.pageNav .mor{ border:0; padding:0; height:21px;  line-height:21px;}
.js{float:left;margin-bottom:10px; width:290px; height:305px; overflow:hidden;margin-top:25px;}
.side_r .question{ border:none; line-height:32px; background:#d1edff; color:#115584; font-size:14px;float:left;width:290px;margin-top:0px;overflow:hidden;height:32px;}
.info_qusetion{ border:1px solid #ddd; border-top:none; padding:9px;width:270px;float:left;margin-bottom:0px!important;}
.info_qusetion li{ background-position:0 -167px;}
.info_qusetion p{ line-height:22px; text-align:center; padding-top:3px;margin:0px;}
.info_qusetion .hot_ct{font-size:18px; color:#d74700;height:30px;line-height:30px;float:left;overflow:hidden;width:268px;}
.info_qusetion a{ color:#035ba5;}
.main_r_banner{ margin-bottom:10px;float:left;width:290px;text-align:center;}
.phone-sale{padding:20px 7px 0px 7px; border:1px solid #ddd; boder-top:none;float:left;width:274px; z-index:1;position:relative; }
.phone-sale a{ color:#035ba5;}
.phone-sale .pic{ float:left; display:inline; margin-right:5px;width:107px;}
.phone-sale em{ color:#115584;}
.phone-sale .phoneInfo{;width:170px;height:30px;position:absolute; top:65px; right:0; display:block;background-position:-340px -52px;overflow:hidden;}
.phone-sale .phoneInfo a{display: block; float: left; height: 20px; margin:4px 7px 0 0; width: 35px; background:none;}
.phone-sale span{ color:#dc0100; font-weight:bold; line-height:22px;}
.phone-sale .iconBuy a{ width:42px; height:25px; display:block; position:absolute; right:68px; top:40px; background-position:-321px -408px;}
.phone-sale ul{ line-height:22px; color:#115584; word-wrap: word-break;margin-top: 35px; }
.r_sales{padding:15px 9px; border:1px solid #ddd; width:270px; border-top:none; overflow:hidden;}
.r_sales li{ line-height:22px; position:relative;}
.r_sales li .price{ padding-left:10px;}
.r_sales .r_sales_icon{ width:90px; height:18px; position:absolute; color:#999999; overflow:hidden; right:0; top:3px;}
.r_sales .r_sales_icon img{}
.question_1 span{ float:right; color:#999;}
.main_r{ width:290px; float:right; overflow:hidden;padding-top:5px;}

/*文章页*/
.acticleMain{ margin-bottom:10px;}
.l_arcicle{ padding:0 30px; width:640px;float:left;}
.baixin-arcicle{ padding:10px 0 30px 0;}
.titbar{float:left; width:640px; height:24px; line-height:24px; margin-bottom:10px;}
.titbar span{ padding:0 5px;}
.titbar span{ color:#7e7e7e;}
.a_crumb{border-bottom:2px solid #ddd;line-height:30px;}
.a_crumb .crumb{ border:none;}
.a_search{ margin-top:2px;}
.hd{ text-align:left;}
.hd h1{ line-height:50px; font-size:26px; border-bottom:1px solid #ddd;text-align:center;}
.bd{ padding:0 15px;}
.bd .article a,.bd .article a:visited{color:#035BA5;}
.bd .summary{float:left;width:533px;padding:5px;margin-left:20px;height:78px;background:#e8f6ff; border:1px solid #d7dee6; font-size:12px;line-height:22px;text-indent:2em;overflow:hidden;}
.bd .article{float:left;width:610px;margin-top:10px; font-size:14px; color:#333!important; font-family:"宋体";line-height:24px;overflow:hidden;}
.other_news h2,.samsungApp h2{ font-size:14px; color:#115584; padding:10px 0 5px 10px}
.articleBanner{margin-top:20px;width:640px;float:left;}
.samsungApp h2{background-position:10px -41px;}
.other_news{ width:360px; float:left;margin-bottom:10px;}
.other_news li{ font-size:14px;}
.other_news li span{ font-size:12px;}
.samsungApp{ width:270px; float:right;margin-bottom:10px;}
.sale{ margin-bottom:10px; z-index:1; overflow:hidden;}
.sale .phone-saleInfo{color:#656565; font-weight:normal; padding-top:35px; display:block;}
.same{margin-top:10px;float:left;width:270px;}
.same h2{ color:#d74700; line-height:22px;float:left;width:270px;height:22px;overflow:hidden;}
.same ul{padding-left:5px;float:left;width:270px;margin-top:0px;}
.same li{ width:54px; float:left; text-align:center; padding:6px;}

/*对比篮*/
.db{ clear:both; width:198px; margin:auto; border:1px #9DC9EC solid; text-align:left; overflow:hidden; padding:0px}
.db1{ float:left; width:198px; height:26px; background-image:url(../images/db1.gif); background-repeat:repeat-x; text-align:left;}
.db11{ float:left; padding-top:3px; padding-left:7px; font-size:14px; color:#FFFFFF; font-weight:bold; text-align:left;}
*html .db11{ float:left; padding-top:5px; padding-left:7px; font-size:14px; color:#FFFFFF; font-weight:bold; text-align:left;}
*+html .db11{ float:left; padding-top:5px; padding-left:7px; font-size:14px; color:#FFFFFF; font-weight:bold; text-align:left;}
.db12{ float:right; width:21px; padding-top:6px; text-align:left;}
.db2{ float:left; width:198px; padding-top:7px; background-color:#EFF9FE; border-bottom:1px #9DC9EC solid; text-align:left;}
.db2r{ float:left; width:198px; padding-top:7px; background-color:#DDF0FB; border-bottom:1px #9DC9EC solid; text-align:left;}
.db3{ float:right; width:186px; padding-bottom:6px; text-align:left;}
.db31{ float:left; width:50px; text-align:left;}
.db31 img{ border:1px #CECECE solid;}
.db32{ float:left; width:120px; line-height:15px; font-size:12px; color:#0044DD; text-align:left;height:30px;overflow:hidden;}
.db32 a{ color:#0044DD; text-decoration:none;}
.db32 a:hover{ color:#FF0000; text-decoration:underline;}
.db33{ float:right; width:16px; text-align:left;}
.db4{ float:left; width:197px; height:29px; padding-top:6px; text-align:center; background-color:White}
.db5{ float:left; width:197px; height:20px; font-size:12px; color:#0044DD; text-align:center;background-color:White}
.db a{ color:#0044DD; text-decoration:none;}
.db a:hover{ color:#FF0000; text-decoration:underline;}



/***dialog***/
.DialogWindow{display:block;padding:0px;background-color: #ffffff;}
.DialogTitle{display:block;float:left;color:#ffffff;font-weight:bold;font-size:13px;padding-left:10px;display:block;margin:0px;background:url(../images/pupop_bg.png) 0px 0px;border:1px solid #6b97c1;height:28px;line-height:28px;}
.DialogTitle .h3{font-size: 13px; float: left; margin: 0px; overflow: hidden; color: #ffffff; text-indent: 8px; line-height: 28px; height: 28px}
.DialogTitle .DialogTitleClose{display:block;margin:0px;background:url(../images/pupop_bg.png) no-repeat 0px -30px;float: right;width: 34px; margin-right: 5px; border-bottom: 0px; height: 19px; cursor: pointer;margin-top:-19px;}
.DialogContent{display:block;margin:0px;border:1px solid #6b97c1;float:left;border-top:none;padding:5px;background-color: #fff;}

.quick_login td{height:32px;}
.quick_login td h5{font-size:14px;line-height:14px;margin:8px 0;padding:6px 0 6px 30px;background:url(../images/login_icon.gif) 0 5px no-repeat;}
.quick_login a{text-decoration:underline;}
.default_input{height:18px;line-height:18px;width:170px;}
.hackbox{height:5px;overflow:hidden;float:left;width:278px;}

/*len*/
.info_qusetion .qusetion-len{ height:22px; overflow:hidden;width:270px;float:left;}
.info_qusetion .qusetion-len a{ height:22px; overflow:hidden;width:200px;float:left;}
.li-span-len{ height:22px;overflow:hidden;}
.phone-sale-li-len{height:110px;overflow:hidden;_overflow:inherit;width:155px;line-height:20px!important;padding-top:5px;}
#.li-span-len
{
    height:22px;overflow:hidden; float:left;display:block; width:152px; /* IE6 */
}
.listinfo-r-subject{ width:340px;float:left; height:110px; border-bottom:1px dotted #ddd; padding-top:0px; padding-bottom:0px; }
.em-article-pic-alen{ width:150px; height:20px; overflow:hidden; display:block;}
.phonelist-alen{float:left;height:22px;overflow: hidden; width: 100px;}
.hot-brand .one .brand{float:left;height:22px;overflow:hidden; width:90px;}
.articletypename{ color:#656565;}

.l_list{float:left;width:700px;}
.temp_ads{float:left;text-align:left;margin-top:3px;margin-bottom:3px;padding-left:5px;}
.s_tips{color:#333;padding:20px 0px 20px 10px;width:650px;float:left;}



/* 轮转广告 2010.11.25 */
/******************************************************/
#slidenum{position:absolute;right:5px;top:275px;z-index:30;}
#slidenum .slideNumber{padding-left:0px;margin:0;padding:0;list-style-type:none;float:right;line-height:14px;}
#slidenum .slideNumber li{ padding:0px;background:none;font-size:10px;float:left;display:inline;color:#D00000;text-align:center;line-height:12px !important;line-height:12px;font-family:arial;width:12px!important;height:12px!important;background-color:#fff;margin:2px 7px 0 0;cursor:pointer;cursor:pointer;overflow:hidden; border:#D00000 solid 1px;margin-top:2px;}
#slidenum .slideNumber li.curSlideNumber{padding-left:0px;background:none;background-color:#FF0000;color:#fff; border:#D00000 solid 1px;font-weight:bold !important;font-size:12px;padding:2px;margin-top:0px;line-height:10px !important;}
.slidecontainer{position:relative;height:1px;}
.slideimages{margin-top:0px;}
.slideimages img{border:0;display:none;margin:0 auto;}
.slideimages a{position:relative;top:0;left:0;}
.slideimages a,area { blr:expression(this.onFocus=this.blur()) }
.slideimages a:focus { -moz-outline-style: none; }



.friend_link{width:1000px;float:left;margin-bottom:10px;}
.friend_link .list{ padding:8px;line-height:18px;float:left;border:1px solid #cdcdcd;width:982px;}
.friend_link .list a{ line-height:20px;height:20px;padding-right:8px; word-break:keep-all; white-space:nowrap; float:left;color:#555;}
.friend_link .tip{float:left;width:972px;padding:5px;text-align:left;color:#f00;}
.friend_link .titlen8{height:27px;}
.friend_link .titlen8 .h2{background-color:#F87620; height:27px; line-height:27px; color:#ffffff; font-size:14px; padding-left:8px;font-weight:bold;}
.friend_link .titlen8 .h2 a{ color:#ffffff; font-weight:normal; font-size:12px;font-weight:bold;}
.friend_link .s_more{float:right;}
.friend_link .s_title{float:left;}


.s_d_list{float:left;width:400px;margin-top:10px;padding-bottom:5px;}
.s_d_list span{line-height:20px;height:40px;padding-right:8px; word-break:keep-all; white-space:nowrap; float:left;}
.s_d_list a{line-height:20px;height:20px;padding-right:18px; word-break:keep-all; white-space:nowrap; float:left;color:#555;}